<h1>Today's Weather Forecast in {{name}}: {{data.temp}} *C</h1>

<p>{{data.day}} {{data.time}}</p>
<p>{{data.date}}</p>

<p>Temp: {{data.temp}}C</p>
<p>Clouds: {{data.cloudy}}</p>

<p>Sunny:
{{#if data.sunny}}
  Yes
{{else}}
  No
{{/if}}
</p>

<p>Wind: {{data.wind}}MPH</p>

{{#each people}}
<h3>{{this}}</h3>
{{/each}}

<a class="btn-style" href="/weather">Find out the weather where you are</a>
<script src="app.js"></script>
<p>
Test
</p>

<p>Developed by <a href ="https://www.linkedin.com/in/joe-foster-14b9b5106/">Joe Foster</a></p>